#button {
    display: inline-block;
    background-color: #595445;
    width: 100px;
    height: 100px;
    align-self: center; 
    text-align: center;
    border-radius: 5px;
    margin: 0px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s;
    z-index: 1000;
}

#button:hover {
    cursor: pointer;
    background-color: #333;
}

#button:active {
    background-color: #555;
}

#button::after {
    content: "\f062";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 100px;
    color: #fff;
}

@media screen and (max-width: 800px) {
    #button {
        width: 50px;
        height: 50px;
    }

    #button::after{
        line-height: 50px;
        font-size: 1em;
    }
}