.container {  
    margin: 0;
    display: grid;
    grid-template-columns: 5% 13.3% 13.3% 5% 13.3% 13.3% 5% 13.3% 13.3% 5%;
    grid-template-rows: 160px 50px 350px 100px 100px 200px;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . . . . . . . . ."
      ". . . . . . . . . ."
      ". form form . info info . cv cv ."
      ". . . . . . . . . ."
      ". RRSS RRSS RRSS RRSS RRSS RRSS RRSS RRSS ."
      ". . . . . . . . . .";
}
  
.form { 
    grid-area: form; 
    background-color: white;
    border:5px solid;
    border-style: dashed;
    }
  
.info { 
    grid-area: info; 
    background-color: white;
    border:5px solid;
    border-style: dashed;
    }
  
.cv { 
    grid-area: cv; 
    background-color: white;
    border:5px solid;
    border-style: dashed;
}
  
.RRSS { 
    grid-area: RRSS; 
    background-color: white;
    border:5px solid;
    border-style: dashed; 
    align-self: center; 
    text-align: center;
}

body {
    background-image: url("../images/background/bac_contacto.jpg");
    background-color: #cccccc;
}