body{
    padding-top: 100px;
    margin-left: auto;
    background-color: #868183;
}
/* Image grid*/
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0px;
}

.column{
    flex: 25%;
    max-width: 25%;
    padding: 0 0px;
}

.column img{
    margin-top: 0px;
    vertical-align: middle;
    width: 100%;
}

/* Hacemos que se vean 2 columnas en vez de dos */
@media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  

  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }