body{
    margin-left: auto;
    background-color: #868183;
}

/* Image grid*/
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0px;
}

.column{
  flex: 25%;
  max-width: 25%;
  padding: 0 0px;
}

.column img{
    margin-top: 0px;
    vertical-align: middle;
    width: 100%;
}

.column img:hover{
  transform: scale(1.1);
}

form{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  transition: all 1s;
  width: 50px;
  height: 50px;
  background: white;
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid white;
  padding: 5px;
}

input{
  width: 100%;
  height: 42.5px;
  line-height: 30px;
  outline: 0;
  border: 0;
  display: none;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 20px;
}

.fa{
  box-sizing: border-box;
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: #07051a;
  text-align: center;
  font-size: 1.2em;
  transition: all 1s;
}

form:hover,
form:valid{
    width: 200px;
    cursor: pointer;
}

form:hover input,
form:valid input{
    display: block;
}

form:hover .fa,
form:valid .fa{
    background: #07051a;
    color: white;
}

form a {
  display: none;
  position: absolute;
  top: 70px;
  bottom:0;
  left: 0;
  right: 0;
  font-size: 20px;
  color: white;
  text-align: center; 
  width: 100%;
}

form:valid a {
  display: block;
}

#ventana{
  display: none;
  background-color: #fdfdfd;
  position: fixed;
  top: 50%;
  left: 50%;
  height: 80vh;
  width: 80vw;
  margin-top: -40vh;
  margin-left: -40vw;
  z-index: 20;
  border-radius: 1vh;
}

#destacada{

  display: flex;
  align-content: center;
  height: 80vh;
  align-items: center;
}


#destacada_img {
  width: 60%;
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}

#destacada_img img{
  padding: 10vh;
}

#destacada_texto {
  width: 40%;
  height: 50%;
  float: right;

  text-align: center;

  display: flex;
  align-content: center;
  justify-content: center;
}

#cruz {
  float: right;
  text-align: center;
  border-radius: 0px;
  padding: 5px;
  margin: 0px;
  height: 50px;
  float: right;
  transition: background-color .3s;
  z-index: 21 ;
}

#cruz:hover::after {
  cursor: pointer;
  color: #555;
}

#cruz:active {
  background-color: #555;
}

#cruz::after {
  content: "\f00d";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #333;
}

/* Hacemos que se vean 2 columnas en vez de dos */
@media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
}
  

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 800px) {
  #cruz {
      width: 50px;
      height: 50px;
  }

  #cruz::after{
      line-height: 50px;
      font-size: 1em;
  }
}