@font-face {
    font-family: myFirstFont;
    src: url(../fonts/BebasNeue-Regular.ttf);
}

body{
    font-family: myFirstFont;
    font-size: x-large;
}

.nav{
    overflow: hidden;
    background-color: #595445;
    position: fixed;
    top: 0;
    width: 100%;
    align-self: center;
    height: 100px;
}

.nav-right{
    float: right;
    height: 100px;
    align-self: center; 
}

.nav-right a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    padding: 30px;
}

.nav-right a:hover{
    background-color: #f2f2f2;
    color: #595445;
}

.nav img{
    height: 80px;
    width: 80px;
    padding: 10px;
}

.barra{
    color: white;
    font-size: 60px;
    padding: 10px;
    float: left;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .nav-right a{
        font-size: 20px;
    }
    .barra {
        font-size: 30px;
    }
}

@media screen and (max-width: 600px) {
    .nav-right a{
        font-size: 20px;
        padding: 10px;
    }
    .barra {
        font-size: 30px;
        padding: 0px;
    }
}