.nav{
    overflow: hidden;
    background-color: #595445;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
}

.nav-right{
    float: right;
    align-self: center; 
    grid-area: form; 
    height: 100px;
}

.nav a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
    text-align: center;
    
}

.nav a:hover{
    background-color: #f2f2f2;
    color: #595445;
}

.nav img{
    height: 80px;
    width: 80px;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
}